flask
flask-cors
gunicorn

opencv-python-headless
mediapipe==0.10.35

numpy
pandas
pillow
requests
supabase
python-dotenv
werkzeug

deepface==0.0.100
retina-face==0.0.17

tensorflow==2.21.0
tf-keras
protobuf>=3.20,<6
ml-dtypes